<div id="nav-wrapper">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">P2</a>
      <ul id="nav-mobile" class="right">
        <li <%= title.match("^Reports") ?  `class=active` : ''%>>
          <a href="/reports">Reports</a>
        </li>
        <li <%= title.match("^Transactions") ?  `class=active` : ''%>>
          <a href="/transactions" >Transactions</a>
        </li>
        <li <%= title.match("^Ledgers") ?  `class=active` : ''%>>
          <a href="/ledgers" >Ledgers</a>
        </li>
        <% if (typeof user !== 'undefined') { %>
        <li <%= title.match("^User") ?  `class=active` : ''%>>
          <a id="nav-username" href="/users/<%= username %>">
            <i class="material-icons">account_box</i>
          </a>
        </li>
        <% } else { %>
          <li <%= title.match("^Login") ?  `class=active` : ''%>>
            <a href="/login">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>
