<div id="nav-wrapper">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">Project Two</a>
      <ul id="nav-mobile" class="right">
        <li <%= title == "Reports" ?  `class=active` : ''%>>
          <a href="/reports">Reports</a>
        </li>
        <li <%= title == "Transactions" ?  `class=active` : ''%>>
          <a href="/transactions" >Transactions</a>
        </li>
        <li <%= title == "Ledgers" ?  `class=active` : ''%>>
          <a href="/ledgers" >Ledgers</a>
        </li>
        <% if (typeof user !== 'undefined') { %>
        <li >
          <a href="/users/<%= username %>">
          <b><%= user.username %></b>
          </a>
        </li>
        <% } else { %>
          <li <%= title == "Login" ?  `class=active` : ''%>>
            <a href="/login">Login</a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>
