<h4>Ledgers for <a href="/users/<%= user.username %>"><%= user.username %></a></h4>

  <form action="/ledgers" method="post">
  <div class="row">
      <div class="col s4 input-field">
        <label for="name">Ledger Name</label>
        <input type="text" name="name" id="name"/>
      </div>
      <div class="col s4 input-field">
        <input class="btn" type="submit" value="Add Ledger">
      </div>
  </div>
  </form>

<% if (ledgers.length) { %>
<ul class="collection">
  <% ledgers.forEach(ledger => { %>
  <li class="collection-item">
    <a class="btn" href="/ledgers/<%= ledger.id %>">Select</a>
    <form class="inline-form" action="/ledgers/<%= ledger.id %>?_method=DELETE" method="post">
      <button class="btn" type="submit">Delete</button>
    </form>
    <%= ledger.name %>
  </li> 
  <% }); %>
</ul>
<% } %>
