<h4>Transactions: <a href="/ledgers"><%= ledger.name %></a></h4>
<% if (typeof info !== 'undefined') { %>
<div class="card red lighten-2"><div class="card-content">
    <%= info %>
</div></div>
<% } %>
<form id="add-transaction-form" action="/transactions" method="post">
  <%- include('../partials/transaction-form', { transaction: formTransaction }) %>
</form>
<% if (transactions.length) { %>
<% transactions.sort((a, b) => b.date - a.date) %>
  <h5>Recent Transactions</h5>
  <% transactions.forEach(transaction => { %>
  <div class="row">
    <div id="transaction-history" class="card col s12 m8">
      <div class="card-content ">
        <div class="row">
          <b>
            <div class="col s7">
              <%= transaction?.date.toDateString() %>
            </div>
            <div class="col s5">
              <%= transaction?.name %>
            </div>
          </b>
        </div>
        <% transaction.entries.forEach(entry => { %>
          <div class="row">
            <div class="col s9 offset-s1">
              <%= entry.account%>
            </div>
            <div class="col s2 right">
              <%- entry.getFormattedAmount() %>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
    <div class="col s2 m4">
      <a href="/transactions/<%= transaction.id %>" class="btn bottom">Edit</a>
    </div>
  </div>
  <% }); %>
<% } %>
